.body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    background-image: url(./signup.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom:0;
    font-family: Arial, sans-serif;
  }
  

  .body form {
    background-color: #ffffff;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .body h1 {
    text-align: center;
  }
  
  .body label {
    display: block;
    margin-bottom: 10px;
  }
  .body
  input[type="text"],
  .body input[type="email"],
  .body input[type="password"] {
    width: 96%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
  }
  
  .body button[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .body button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  