.btn1 {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Courier New;
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
  margin: 0px 10px 5px;
  background: #6e777d;
  padding: 10px 20px 10px 20px;
  border: solid #8c9194 2px;
}

.btn1:hover {
  background: #00060a;
  text-decoration: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}



.city-card {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  text-decoration: none;
  color: #000;
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 50%;
  margin: 20px;
}

.city-card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.iconP{
  margin: 5px 0 0;
  
}



.imgdiv{
  width: 50%;
  display: inline-block;
  vertical-align:text-top;
  /* padding-bottom: 20px ; */
  padding-top: 20px;
}



.imgdiv img {
  width: 300px;
  height: 200px;
}





.class-btn{
  margin-left: 350px;
  display: inline-block;
}

/* ------ */

.textarea{
  height: 103px;
}

.inputForm{
  margin-left:115px ;
}

.inputForm1{
  margin-left:120px ;
}

.inputForm2{
  margin-left:50px ;
}

.bold{
  font-size: 30px;
}
