header{
    position: sticky !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(1deg,#132A09,#316e16);
    padding: 0 3%;
    width: 100%;
}
header a{
    padding: 0;
    text-decoration: none;
    display: block;
}
header a img{
    height: 70px;
}