header{
    position:-webkit-sticky;
    top: 0;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(1deg,#132A09,#316e16);
    padding: 4px 3% 1px 3%;
    width: 100%;
    border-bottom: 3px solid #afaeae;
}
header a{
    padding: 0;
    text-decoration: none;
    display: block;
}
header a img{
    height: 70px;
}