.NavbarTop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    width: 85%;
    font-family: sans-serif;
    font-weight: bold;
    column-gap: 4%;
    position: relative;
}

.NavbarTop a {
    display: block;
    color: #FFC9AC;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 1rem;
    padding-bottom: 2px;
}

.NavbarTop a:hover {
    color: #fff;
    border-bottom: 3px solid #ff5a02;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.button-container {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.nav-links {
    display: flex;
}

.menu-image {
    display: none;
    cursor: pointer;
    height: 40px;
}

.menu-hidden {
    display: none;
}

@media (max-width: 826px) {

    .NavbarTop a,
    .button-container {
        display: none;
    }

    .menu-image {
        display: flex;
        justify-content: flex-end;
    }

    .nav-links {
        display: none;
    }

    .nav-links.shown {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 1rem;
        border-radius: 5px;
    }

    .nav-links.shown a,
    .nav-links.shown .button-container {
        display: block;
        margin-bottom: 0.5rem;
    }
}