.NavbarTop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    width: 85%;
    font-family: sans-serif;
    font-weight: bold;
    column-gap: 4%;
}

.NavbarTop a {
    display: block;
    color: #FFC9AC;
    text-decoration: none;
    font-size:1.2rem;
    margin-right: 1rem;
    padding-bottom: 2px;
}
.NavbarTop a:hover{
    color: #fff;
    border-bottom:3px solid #ff5a02;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.button-container {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

#mopileNav, #nav2{
    display: none;
}

@media (max-width: 612px) {
    .lab{
        display: none !important;
    }
    header{
        justify-content: space-around;
    }
    .NavbarTop{
        justify-content: flex-end;
    }
    #nav2 {
        display: block;
        display: flex;
        width: 40%;
        justify-content: space-between;
        padding-right: 20px;
        column-gap: 2%;
        cursor: pointer;
        color: aliceblue;
        font-size: 20px;
    }
    #nav22 i,
    #nav2 i{
        font-size: 30px;
    }
    #nav22 {
        display: block;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        color: aliceblue;
        font-size: 20px;
        padding-right: 20px;
        margin-left: 73.5%;
        position: absolute;
        top: 23px;
    }

    #mopileNav {
        height: 100%;
        top: 0%;
        position: fixed;
        right: 0;
        background-color: #23709c60;
        transition: 0.5s;
        padding-top: 15%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        justify-content: center;
        text-align: center;
    }
    #mopileNav a {
        position: relative;
        font-family: sans-serif;
        right: 0;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.4s;
        height: 13%;
        text-shadow: 2px 2px 5px #121010;
        font-weight: bold;
    }

    #mopileNav a:hover {
        color: #121010;
        text-shadow: 2px 2px 5px #ffffff;
    }
}
@media (max-width:536px){
    #nav2{
        column-gap: 15px;
    }
    #nav22{
        margin-left: 75%;
        top: 21.5px;
    }
}
@media (max-width:411px){
    #nav2{
        column-gap: 15px;
    }
    #nav22{
        margin-left: 80%;
        top: 21.5px;
    }
}