#ww {
    background-color: rgb(87, 211, 170);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 19.7%;
    padding-bottom: 19.9%;
    color: rgb(0, 0, 0);
   
    

   
}

#ww1 {
    display: flex;
    font-size: 25px;
    
}

#phone {
    padding-top: 5px;
    padding-right: 5px;
}