.resourses{
    background-color: rgb(193, 196, 193);
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    justify-content: space-around;

    
}
.Frontend{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content:center;
    text-align: center;
    width: 100%;
    margin-top: 130px;
    justify-content: space-around;
}


#res{
    color: aliceblue;
    margin-left: 50px;
}
#divv{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    
}
.resorses{
  padding: 0;
  box-sizing: border-box;
  width: 50;
  padding-bottom: -100px;
  height: 40;

}
img{
    height: 60px;
    width: 60px;
     border-top-left-radius: 50% 50%;
      border-top-right-radius: 50% 50%;
       border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
     
}

.cardfrontend{
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
     border-bottom-right-radius: 50% 50%;
      border-bottom-left-radius: 50% 50%;
    margin: 20px;
    height: 400px;
    width: 250px;
    background-color: #f0f0f0;
   
padding-top: 70px;
box-shadow:0 0 6px 6px ;


}


.contenerFullstack{
    margin:-100;
    flex-direction: column;
    display: flex;
    justify-content:center;
    text-align: center;
    justify-content: space-around;
    padding-top: 40px;

}
#res{
    margin-left: 10px;
}